$almost-black: #111111;
$alto: #d9d9d9;
$aubergine: #2e0810;
$baby-blue: #cfd8e2;
$banana-mania: #fff2a9;
$black: #000000;
$dond-black: #111111;
$blue: #005594;
$border-blue: #002f6c;
$border-dark-grey: #8b8b8b;
$border-grey: #e8e8e8;
$border-light-grey: #f3f5f7;
$broadcast-red: #ff0004;
$card-placeholder-grey: #d7e1e4;
$cinnabar: #e43e41;
$mockery-gold: #fab62b;
$cod-gray: #111111;
$dark-blue: #071d39;
$dark-grey: #7f7f7f;
$darker-grey: #171717;
$default-link-blue: #1876b8;
$dodger-blue: #53a0fd;
$dond-dark-gold: #FAD061;
$dond-gold: #FFF2A9;
$dust-gray: #979797;
$dusty-gray: #9b9b9b;
$electric-blue: #1ff1c8;
$email-color: #002f6c;
$error-red: #d0021b;
$facebook-color: #3b5998;
$geyser: #d5dee2;
$gold: #fcb700;
$green: #3cb878;
$grey: #9b9b9b;
$gun-metal: #232323;
$han-purple: #5c31ff;
$heather-gray: #b9c7d5;
$highlight-grey: #e7ecf1;
$jade-green: #00b78e;
$less-black: #171717;
$light-blue: #00e0ff;
$light-grey: #f2f2f2;
$lighter-grey: #f8f8f8;
$linkedin-color: #0077b5;
$lochmara: #0088cf;
$malachite: #0cb04c;
$market-green: #008456;
$marketRed: #ce2b2b;
$medium-blue: #002f6c;
$mid-light-grey: #cfd8e2;
$middle-blue: #2077b6;
$middle-grey: #747474;
$mineShaft: #2e2e2e;
$native-purple: #5533CC;
$ocean-blue: #6699be;
$orange: #f87121;
$orange-yellow: #fad061;
$placeholder-grey: #a2a2a2;
$pro-green: #39bb7a;
$red: #ff5053;
$related-background-grey: #cfd8e2;
$royal-blue: #3023ae;
$scampi: #645fa9;
$scorpion: #5d5d5d;
$search-border: #d1d1d1;
$silver-chalice: #b2b2b2;
$spring-wood: #fcfbf8;
$straw: #d1bb7e;
$tango: #f26f20;
$tawny-port: #732634;
$teal: #00e0ff;
$tundora: #4a4a4a;
$twitter-color: #0084b4;
$video-gold: #ffbc05;
$videoNowPlayingGrey: #333333;
$white: #ffffff;
$wine-berry: #69212d;
$yellow: #ffbc05;
$zumthor-grey: #f6f6f6;

// make it
$river-bed: #3e4855;
$turquoise: #68ebca;
$bittersweet: #ff685d;
$bittersweet-orange: #ff685d;
$cornflower-blue-light: #b1acff;
$cornflower-blue: #6258ff;
$light-orange: #ffb3ae;
$medium-slate-blue: #6855ed;
$neon-blue: #6159fe;
$rhino: #3a4450;
$river-bed: #3e4855;
$shuttle-grey: #5b636e;
$silver: #cccccc;
$turquoise: #68ebca;

// Exporting for mocks.
:export {
  electricblue: $electric-blue;
  orange: $orange;
}
