@import '../../../assets/stylesheets/utils/colors';
@import '../../../assets/stylesheets/utils/breakpoints';
@import '../../../assets/stylesheets/utils/grid';
@import '../../../assets/stylesheets/utils/typography';

body {
  font-family: 'Proxima Nova';
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  &:after {
    content: 'mobile';
    display: none;

    @media (min-width: breakpoint(tablet)) {
      content: 'tablet';
    }

    @media (min-width: breakpoint(small-desktop)) {
      content: 'small_desktop';
    }

    @media (min-width: breakpoint(medium-desktop)) {
      content: 'medium_desktop';
    }

    @media (min-width: breakpoint(large-desktop)) {
      content: 'large_desktop';
    }
  }
}

// Removes Browser focus style.
*:focus {
  outline: none;
}

button {
  font-family: 'Proxima Nova';
  border-radius: 0;
}

button::-moz-focus-inner {
  border: 0;
}

:global .openNav {
  position: fixed;
  width: 100%;

  @include minWidth(small-desktop) {
    overflow-y: scroll;
  }
}

.articleBody {
  @include row();
}

:global .group {
  @include articleBody();
  font-family: 'Lyon';
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 30px;
}

:global .hideOnMobile {
  @include maxWidth(tablet) {
    display: none;
  }
}

.bodyText {
  @include articleBody();
  color: $mineShaft;
  font-family: 'Lyon';
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 30px;
}

.listWrapper {
  @include articleBody();
}

:global #taboolaContainer {
  @include articleBody();

  @include minWidth(tablet) {
    flex: none;
  }

  @include minWidth(small-desktop) {
    @include span-columns-exact(5, 6);
    @include offset-exact(1, 6, $gutter);
    flex: none;
  }

  @include minWidth(large-desktop) {
    @include span-columns-exact(6, 7);
    @include offset-exact(1, 7, $gutter);
    flex: none;
  }
}

.listTitle {
  @include fontWeight('Extrabold');
  font-size: 24px;
  margin-bottom: 15px;
}

:global .numeric {
  text-align: right;
}
