@import '../utils/colors';

* {
  box-sizing: border-box;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $white;
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $yellow;
  }
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px 15px 8px 0;
}

img {
  display: block;
}
